*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 80px 30px 300px 100px;
    height: 100vh;
}


.header{
    background: black;
    color: white;
    grid-column: 1 / 4;
}

.barra{
    background: rgb(255, 94, 94);
    grid-column: 1 / 4;
}


.verde{
    background: yellowgreen;
}


.azul{
    background: steelblue;
}


.morado1{
    background: rgb(156, 84, 156);
}

.morado2{
    background: rgb(156, 84, 156);
}

.morado3{
    background: rgb(156, 84, 156);
}


.footer{
    background: rgb(248, 166, 43);
    grid-column: 1 / 4;
}
