*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 80px 30px 300px 100px;
    height: 100vh;
}


.header{
    background: black;
    color: white;
    grid-column: 1 / 4;
}

.barra{
    background: rgb(255, 94, 94);
    border: 2px solid black;
    grid-column: 1 / 4}
    
  


.verde{
    background: yellowgreen;
    height: 400px;
    border: 2px solid black
}


.azul{
    background: steelblue;
    height: 400px;
    border: 2px solid black;
}

.caja{
    display: flex;
    flex-direction: column ;
    height: 400px;
    width: 500px;
}
.morado{
    background: rgb(156, 84, 156);
    height: 400px;
    border: 2px solid black;
}

.footer{
  background: orange;
 border: 2px solid black;
  grid-column: 1 / 4;
}